.footer-main {
  background: darken($color-cafe, 10%);
  padding: 2rem 0;
  color: white;
  text-align: center;

  a {
    color: white;
    margin: 0 0.5rem;

    &:hover {
      color: $color-dorado;
    }
  }
}
