// Variables de colores
$color-dorado: #c5a200;
$color-cafe: #4b2e2e;
$color-fondo: #f8f5f2;
$color-header-1:  #462306;
$color-header-2: #817964;
$color-header-2: #817964;

// Tipografía
$font-family-base: 'Poppins', sans-serif;
