$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2.5rem;

.mt-xs { margin-top: $space-xs; }
.mt-sm { margin-top: $space-sm; }
.mt-md { margin-top: $space-md; }

.mb-xs { margin-bottom: $space-xs; }
.mb-sm { margin-bottom: $space-sm; }
.mb-md { margin-bottom: $space-md; }
