-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mqyeq
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
INSERT INTO `productos` VALUES (2,'fisico','mezclador-y-batidor-vertical',1,'Mezclador y Batidor Vertical','Mezclador y Batidor Vertical Acero Inoxidable para Dosificador de Color de Pl├ístico','Mezcladora para alimentos s├│lidos y l├¡quidos','[\"imagenes/productos/r03pBiquqWVZYybFu64Gd2T8W4ztC1e7QCvzPiuv.jpg\"]','Mezclador C├ínico de Doble Tornillo\r\nCapacidad 50 L, motor 2HP\r\nPezo: 50kg\r\nDimencion: 65*87*103cm',3800,10,'imagenes/productos/4W5R4nXEZI4x7fbBeajKouyt6U6PNdxh9Q1bHt0T.jpg',103,3,14,3,0,0,NULL,NULL,0,0,0,NULL,NULL,NULL,50,72,NULL,0,77,88,2,2,'2026-09-23 18:06:41');
INSERT INTO `productos` VALUES (3,'fisico','amasadora-c1',0,'Amasadora C1','M├íquina de cocina Amasadora y Mescladora','Amasadora para panader├¡a industrial','[\"imagenes/productos/3POEz3V09apgOQB3sGgzdriiOEu06EXEn99AHnGD.jpg\",\"imagenes/productos/Q5sat1zOaWtk4jAohPVh8QtGrXm909UPTEsH8Rti.jpg\"]','Capacidad 30 kg, motor 3HP\r\nDimensi├│n: 445*545*695mm\r\nPeso bruto: 95.000 kg',2600,10,'imagenes/productos/PwrINUhxCBthGIlelc4UCBL2G7Y7e3Fx3vgPp5v9.jpg',144,9,35,18,0,0,NULL,NULL,0,0,0,NULL,NULL,NULL,180,48,NULL,0,77,89,3,3,'2026-09-23 18:06:41');
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-07 15:53:12
