-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mqyeq
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `email_logs`
--

LOCK TABLES `email_logs` WRITE;
/*!40000 ALTER TABLE `email_logs` DISABLE KEYS */;
INSERT INTO `email_logs` VALUES (1,4,'cliftoncabello10@gmail.com','lito Cabello','Test bulk log','Hola lito, esto es un test','bulk','Equipos y Maquinas','test@bulk.com','Test Bulk','12265ef8-ecbf-4076-b9df-795151e7117b','enviado',NULL,'2026-10-07 06:40:37','2026-10-07 11:40:37','2026-10-07 11:40:37');
INSERT INTO `email_logs` VALUES (2,6,'comercial@hiperpack.com.br','Mauricio Pagno','Test bulk log','Hola Mauricio, esto es un test','bulk','Equipos y Maquinas','test@bulk.com','Test Bulk','12265ef8-ecbf-4076-b9df-795151e7117b','enviado',NULL,'2026-10-07 06:40:37','2026-10-07 11:40:37','2026-10-07 11:40:37');
INSERT INTO `email_logs` VALUES (3,4,'cliftoncabello10@gmail.com','lito Cabello','Test aviso log','Hola lito, tu password es password','aviso_password','Equipos y Maquinas','test@aviso.com','Test Aviso','53ae26ae-2b81-49bb-a727-8c46e4327919','enviado',NULL,'2026-10-07 06:40:59','2026-10-07 11:40:59','2026-10-07 11:40:59');
/*!40000 ALTER TABLE `email_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-07 15:53:12
